* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background: #181a1f;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #20222a;
}

.inner-header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    font-size: 15px;
    cursor: pointer;
    width: 100px;
    padding: 0.5em 1em;
    border: 0.15em solid #20222a;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: white;
    background-color: #20222a;
    text-transform: uppercase;
}

.menu:hover {
    background-color: black;
    border-color: black;
}

.menu:active {
    border-color: #7a7a7a;
}

.message {
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    /* justify-items: start;
    align-items: start; */
    width: 100%;
}

.node {
    width: 100%;
    border: 2px solid white;
    background-color: black;
}
